*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif
}


.oxa{
    font-family: 'Oxanium', sans-serif;
}

/* navigator */

.nav{
    width: 100%;
    background-color: rgba(0, 0, 2, 1);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo a{
    text-decoration: none;
    color: rgba(254, 209, 38, 1);
    font-weight: 700;
    text-transform: uppercase;
}

.logo a span{
    color: white;
    font-weight: 300;
}

.meniu{
    display: flex;
    gap: 10px;
    display: none;
}

.meniu a{
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(148, 148, 148, 1);
    font-family: 'Oxanium', sans-serif;
}

.meniu a:first-child{
    font-weight: 700;
}

.line{
    width: 1px;
    height: 17px;
    background-color: rgba(148, 148, 148, 1);
}

.socials{
    display: flex;
    color: white;
    gap: 25px;
    display: none;
}

.secret-meniu{
    color: white;
}

/* bg-hero  */

.bg img{
    position: absolute;
    z-index: -10;
}

.ht1 {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}

.ht1 h1{
 color: rgba(254, 209, 38, 1);
}

.ht1 p{
    color: rgba(117, 117, 117, 1);
}

.ht1 button{
border: 1px solid white;
color: white;
background-color: transparent;
padding: 5px 10px;
border-radius: 10px;
}

.ht2 {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
}

.ht2 h1{
 color: rgba(254, 209, 38, 1);
}

.ht2 p{
    color: rgba(117, 117, 117, 1);
    text-align: end;
}

.ht2 button{
border: 1px solid white;
color: white;
background-color: transparent;
padding: 5px 10px;
border-radius: 10px;
}


@media only screen and (min-width: 600px) {
    body {
      background-color: lightblue;
    }
  }

  @media only screen and (min-width: 768px) {
    body {
      background-color: lightblue;
    }
  }

  @media only screen and (min-width: 1024px) {
    .meniu{
        display: flex;
    }
    .socials{
        display: flex;
    }

    .secret-meniu{
        display: none;
    }
  }

  @media only screen and (min-width: 1280px) {
    body {
      background-color: lightblue;
    }
  }

  @media only screen and (min-width: 1536px) {
    body {
      background-color: lightblue;
    }
  }